<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<!-- <link rel="stylesheet" href="../../css/content-container.css"> -->
		<script src="../../js/pages/search.js" type="module"></script>
	</head>

	<body class="search show-display">
		<header class="search-header">
			<h1><span id="">下面是有关查找</span> "<input type="search" id="searching-words"> "</h1>
		</header>
		<!-- <a href="http://www.baidu.com">baifu</a> -->
		<main id="result" class="search-result srcollbar">
			<article class="search-article pieces-show-up">
				<section class="search-result-section  search-article-completed">
					<input type="checkbox" class="check-box">
					<h3 datat-lang-innertext="测试啊" class="search-title">今天要<mark>背单词</mark></h3>
					<div class="search-content">
						<p><span class="search-article-content-serial">1.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p>
						<p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p>

				<p>
					<article class="search-article pieces-show-up">
						<section class="search-result-section">
							<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
							<div class="search-content">

								<!-- <p><span class="search-article-content-serial">2.</span><span
										class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
							</div>
							<div class="search-result-time">
								<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
							<p>	<article class="search-article pieces-show-up">
								<section class="search-result-section">
									<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
									<div class="search-content">

										<!-- <p><span class="search-article-content-serial">2.</span><span
												class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
									</div>
									<div class="search-result-time">
										<time class="search-completed-time">2021-11-02</time>
										<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
									</div>
								</section>
								<div class="search-result-edit-option">
									删除
								</div>
							</article></p><span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>

								<time class="search-completed-time">2021-11-02</time>
								<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
							</div>
						</section>
						<div class="search-result-edit-option">
							删除
						</div>
					</article>
				</p>			</div>
					<div class="search-result-time">
						<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
						<time class="search-completed-time">2021-11-02</time>
						<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
					</div>
				</section>
				<div class="search-result-edit-option">
					删除
				</div>
			</article>

			<article class="search-article pieces-show-up">
				<section class="search-result-section">
					<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
					<div class="search-content">

						<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
					</div>
					<div class="search-result-time">
						<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
						<time class="search-completed-time">2021-11-02</time>
						<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
					</div>
				</section>
				<div class="search-result-edit-option">
					删除
				</div>
			</article>
			<article class="search-article pieces-show-up">
				<section class="search-result-section">
					<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
					<div class="search-content">
						<p>
							<!-- <span class="search-article-content-serial">1.</span> -->
							<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
						</p>
						<!-- <p><span class="search-article-content-serial">2.</span><span
											class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
					</div>
					<div class="search-result-time">
						<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
						<time class="search-completed-time">2021-11-02</time>
						<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
					</div>
				</section>
				<div class="search-result-edit-option">
					删除
				</div>
			</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>
<article class="search-article pieces-show-up">
	<section class="search-result-section">
		<h3 class="search-title">今天要 <mark>背单词</mark> </h3>
		<div class="search-content">
			<p>
				<!-- <span class="search-article-content-serial">1.</span> -->
				<span class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span>
			</p>
			<!-- <p><span class="search-article-content-serial">2.</span><span
								class="search-article-serial-content">HIPPOPOTOMONSTROSESQUIPPEDALIOPHOBIA</span></p> -->
		</div>
		<div class="search-result-time">
			<span class="search-article-completed" data-symbol-completed="✔" data-symbol-onworking="✖">✔</span>
			<time class="search-completed-time">2021-11-02</time>
			<sub><del><time class="search-create-time">2021-11-02</time></del></sub>
		</div>
	</section>
	<div class="search-result-edit-option">
		删除
	</div>
</article>

		</main>
	</body>

</html>